body
{

}


.test{

    font-family: "Karla", sans-serif;
    font-weight: 400;

}



.test2{

    font-family: "Karla", sans-serif;
    font-weight: 200;

}




.tes3{

    font-family: "Karla", sans-serif;
    font-weight: 300;

}



.tes4{

    font-family: "Karla", sans-serif;
    font-weight: 500;

}


.tes5{

    font-family: "Karla", sans-serif;
    font-weight: 700;

}



.tes6{

    font-family: "Karla", sans-serif;
    font-weight: 600;

}